h2 {
    font-weight: 600;
}
h5 {
    margin-bottom: 0;
}

/*Navigation bar*/

#Top_bar #logo {
    max-width: 180px;
}

.delivery {
	display: flex;
}

.delivery a h5{
	letter-spacing: 0;
	font-weight: 600;
}

.delivery a h5:first-child{
	margin-top: 8px;
	margin-bottom: 0;
}

#Top_bar.is-sticky .delivery a h5:first-child{
	margin-top: 0;
}

#Top_bar.is-sticky .delivery .delivery_img{
	padding-top: 2px;
}

.header-split #Header .top_bar_left .delivery {
	float: right;
}
.delivery a{
	padding: 15px 0;
	display: block;
}

.delivery .delivery_img {
	max-width: 38px;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}
.delivery .delivery_text {
	float: right;
}

@media only screen and (min-width: 1240px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1239px) {
	.delivery {
		margin-right: 70px!important;
	}
}

@media only screen and (max-width: 767px) {
	.delivery {
		width: 100%!important;
		margin: auto!important;
		justify-content: center;
	}
	.delivery .delivery_img{
		padding-top: 8px;
	}
}

@media only screen and (max-width: 1239px) {
	#Top_bar.is-sticky a.responsive-menu-toggle {
		top: 18px;
	}
}

/*Banner*/

#rev_slider_1_1_wrapper {
    background: url(../images/burger2-slider-bg.jpg)!important;
}

.rev_slider.fullscreenbanner {
    max-height: none;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    display: flex;
    padding: 140px 15px 70px 15px;
    max-width: 1060px;
    margin: auto;
}

.banner_txt_container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 140px;
}

.banner_img_container {
    display: flex;
    width: 60%;
}

.banner_big_pizza {
    position: absolute;
}

.banner_right_pizza {
    position: relative;
    left: 352px;
    top: 148px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    z-index: 1;
}

.banner_bottom_pizza {
    position: relative;
    left: 37px;
    top: 329px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.banner_left_pizza {
    position: relative;
    left: -594px;
    top: 321px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.banner_txt_container h2, .banner_txt_container h3 {
    margin-bottom: 0;
    padding-left: 5px;
}

.banner_txt_container h3 {
    color: #ffb200;
}

.banner_txt_container .banner_txt_2 h2 {
    font-size: 60px;
    color: #fff;
    line-height: 86px;
}

.banner_txt_container .banner_txt_3 h1 {
    font-size: 100px;
    font-weight: 600;
    padding-top: 5px;
    color: #fff;
}

.banner_cta {
    padding-top: 50px;
}

.banner_cta a {
    text-decoration: none;
}

.cus_button {
    border-radius: 50px;
    padding: 12px 36px;
    margin-right: 10px;
}

.button_fill {
    background-color: #ffb200;
    color: #fff;
    font-weight: 600;
}

.button_nofill {
    color: #fff;
    border: 2px solid #fff;
}

.button_fill:hover {
    background-color: transparent;
    color: #ffb200;
    border: 2px solid #ffb200;
    transition: color 0.3s ease;
    transition: background 0.3s ease;
}

.button_nofill:hover {
    border-color: #ffb200;
    color: #ffb200;
    transition: color 0.3s ease;
    transition: background 0.3s ease;
}

.lightbg_btn {
    background-color: #532f17;
}

.lightbg_btn:hover {
    background-color: transparent;
    color: #532f17;
    border: 2px solid #532f17;
}

@media (max-width: 1239px) {
    .banner_cta {
        display: flex;
        flex-wrap: wrap;
    }

    .banner_cta a {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .rev_slider.fullscreenbanner {
        flex-direction: column;
        padding-bottom: 140px;
        height: auto;
    }

    .banner_txt_container {
        padding-top: 0;
        width: 100%;
    }

    .banner_img_container {
        display: none;
    }
    /*test*/
}

/*Why make best pizza*/

.custom-fullheight {
    display: flex;
    /* padding-bottom: 250px; */
}

.custom-one-fourth {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.custom-one-second {
    flex: 2;
}

.custom-one-second img {
    position: relative;
    z-index: 3333;
}

.custom-one-second img:hover {
    margin-left: -20px;
    transition: margin-left .5s;
}

.custom-best-section {
    display: flex;
    align-items: center;
    z-index: 1;
    margin-left: -35px;
    position: relative;
}

.custom-one-fourth.right-side .custom-best-section {
    flex-direction: row-reverse;
}

.best-section-icon {
    z-index: -1;
}

.custom-one-fourth.left-side .best-section-contents {
    position: absolute;
    left: 35px;
    top: 45px;
}

.custom-one-fourth.right-side .best-section-contents {
    position: absolute;
    right: 35px;
    bottom: 26px;
}

.best-section-icon-type-text {
    font-size: 100px;
    font-weight: 900;
    line-height: 100px;
    color: #fff;
    text-shadow: 0 0 11px rgba(38,61,128,.06);
}

.best-section-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    font-style: normal;
}

h5 {
    color: #ffb200;
}

.best-section-contents-inner-wrap {
    margin-top: -5px;
}

.bs-circle-box {
    position: relative;
    z-index: 1;
}

.bs-circle-box::before {
    left: 23px;
    top: 30px;
    width: 502px;
    height: 502px;
    background-color: #ffb200;
    position: absolute;
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.bs-circle-box::after {
    width: 549px;
    height: 556px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(../images/circle-ellipse.png);
    position: absolute;
    content: '';
    z-index: -1;
}

.custom-bs-wrapper {
    margin-bottom: 50px;
}

.custom-bs-wrapper.bottom-section {
    margin-bottom: 0;
    margin-top: 50px;
}

@media only screen and (min-width: 1240px) {
    .section_wrapper {
        max-width: 1200px;
    }
}

/*menu section*/

.popular-menu-section {
    background: url(../images/burger2-slider-bg.jpg)!important;
}

.menu-section {
    background-color: #fff;
    border-radius: 50px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    margin-top: -220px;
}

.menu-list-wrapper {
    display: flex;
    column-gap: 50px;
}

.menu-list{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    column-gap: 20px;
}

.menu-item .menu-item-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
}

.menu-item .menu-item-content {
    flex: 1;
}

.menu-item .menu-item-content .menu-item-name {
    margin-bottom: 10px;
}

.menu-item .menu-item-price {
    font-weight: 700;
    color: #ffb200;
}

.offer-section {
    padding-top: 75px;
    display: flex;
    column-gap: 50px;
}

.offer-section h2, .offer-section p {
    color: #fff;
}

.offer-section .offer-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.offer-txt-content {
    display: flex;
    flex-direction: column;
}

.countdown-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.countdown-wrapper .cd-item {
    display: flex;
    flex-direction: column;
}

.cd-item h2 {
    color: #ffb200;
    margin-bottom: 0;
}

.offer-section .banner_cta {
    padding-top: 20px;
}

.menu_overlay_text{
    color: #fff;
    position: relative;
    top: -320px;
    right: -600px;
    text-align: left;
    font-weight: 700;
    font-size: 50px;
    padding: 30px;
    text-transform: uppercase;
}

.menu_text_yellow{
    color: #ffb200;
    font-weight: 700;
}

.menu_overlay_text h2{
    color: #fff;
    
}

.menu_overlay_text a{
    font-size: 20px;
    text-transform:none;
}


.menu_overlay_text div a{
    border-radius: 50px;
    padding: 20px 36px;
    width: 95px;
    font-size: 15px;
}

.menu_item_custom{
    display: flex;
    flex-flow:row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 5px;
    columns: 3;
    
}

.menu_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #532f17;
    border: 1px solid black;
    height: 200px;
    box-sizing: border-box;
    width: 33.33%;
    color: bisque;
}
.our_menu_image,
.our_menu_detail {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.our_menu_image {
    background-color: red;
    overflow: hidden;

}

.our_menu_image img{
    width: 100%;
    

}


/*our menu*/
.om_back{
    background: url(../images/burger2-slider-bg.jpg)!important;

}

.om_container{
    display: grid;
    grid-template-columns : 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    
}

.om_item{
    display: grid;
    grid-template-columns : 50% 50%;
    grid-template-rows:1fr;
    height:200px;
}

.om_item_details{
    display: grid;
    grid-template-columns : 50% 50%;
    grid-template-rows:20% 50% 1fr;

}

.om_item_details_item{
    padding: 10px;
}

.spaned{
    grid-column: span 2;
    line-height: 20px;
    
}

.om_order_button{
    
    margin-right: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
}

.om_item_details_item span{
    
}

.om_item_title{
    color: #ffb200;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

.om_item_des{
    color: #7e6656;

}

.om_image{

    height: 200px!important;
    max-width: auto!important;
}

.om_item_price{
    color: #ffb200;
}

.om_main_image{
    overflow: hidden;
    object-fit: contain;
    
    
}

.om_long_text{
    padding: 20px;
    width: 50%;
    text-align: center !important;
}

/*footer*/

.footer-time {
    color: #ffb200;
}

/*company*/

/* .section-parallax {
    background-image: url("../images/parallax-image.jpg");
  
    min-height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.ParallaxVideo{ 
    height: 300px;
    padding-bottom: 50px;
    padding-top: 50px; 
}
.ParallaxVideo video{ 
    min-width: 100%;
    position: fixed;
    top:-350px;
    z-index: -999;
}

/*menu*/

.om_image {
    object-fit: cover;
}